{% extends "booking_manager/base.html" %}
{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Booking system</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">A fast and convenient online booking system. Select a service and a suitable time, then book your appointment with the specialist in just one click.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{% url 'services' %}" class="btn btn-primary btn-lg px-4 gap-3">Book Now</a>
        </div>
    </div>
</div>

{% endblock %}










